{% extends 'base_admin.html' %}

{% block title %}
    History
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('history_app.static', filename= 'css/history.css') }}">
{% endblock %}

{% block content %}
    <div class="passed-by-me">
        <h2>
            Пройдено мною
        </h2>
    </div>
    <div class="passed-quizes-by-me">
        <div class="quiz">
            <img class="quiz-image" src="{{url_for('history_app.static', filename= 'images/quiz.png') }}">
            <div class="info">
                <h3>Вікторина</h3>
                <p>Автор: illya_shramko</p>
                <h4>Пройдено на 8/12</h4>
            </div>
            <form method="post" class="view-or-delete">
                <button id="view" name="view" value="1">Переглянути</button>
                <button id="delete" name="delete" value="1">
                    <img src="{{url_for('history_app.static', filename= 'images/trash.png') }}" >
                </button>
            </form>
        </div>
        <div class="quiz">
            <img class="quiz-image" src="{{url_for('history_app.static', filename= 'images/quiz.png') }}">
            <div class="info">
                <h3>Вікторина</h3>
                <p>Автор: illya_shramko</p>
                <h4>Пройдено на 8/12</h4>
            </div>
            <form method="post" class="view-or-delete">
                <button id="view" name="view" value="1">Переглянути</button>
                <button id="delete" name="delete" value="1">
                    <img src="{{url_for('history_app.static', filename= 'images/trash.png') }}" >
                </button>
            </form>
        </div>
        <div class="quiz">
            <img class="quiz-image" src="{{url_for('history_app.static', filename= 'images/quiz.png') }}">
            <div class="info">
                <h3>Вікторина</h3>
                <p>Автор: illya_shramko</p>
                <h4>Пройдено на 8/12</h4>
            </div>
            <form method="post" class="view-or-delete">
                <button id="view" name="view" value="1">Переглянути</button>
                <button id="delete" name="delete" value="1">
                    <img src="{{url_for('history_app.static', filename= 'images/trash.png') }}" >
                </button>
            </form>
        </div>
        <div class="quiz">
            <img class="quiz-image" src="{{url_for('history_app.static', filename= 'images/quiz.png') }}">
            <div class="info">
                <h3>Вікторина</h3>
                <p>Автор: illya_shramko</p>
                <h4>Пройдено на 8/12</h4>
            </div>
            <form method="post" class="view-or-delete">
                <button id="view" name="view" value="1">Переглянути</button>
                <button id="delete" name="delete" value="1">
                    <img src="{{url_for('history_app.static', filename= 'images/trash.png') }}" >
                </button>
            </form>
        </div>
    </div>
{% endblock %}