*{
    padding: 0;
    margin: 0;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150px;
    background-color: #252525;
    position: absolute;
    right: 0;
    top: 45px;
    gap: 10px;
}
.search h2 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.search form img{
    width: 25px;
    height: 25px;
}
.search form {
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}
.search form input{
    height: 100%;
    width: 450px;
    border: none;
    padding-left: 5px;
    font-family: "Inter";
    font-size: 14px;
}
.search form button{
    background: none;
    border: none;
    cursor: pointer;
}
.active-quizes{
    position: absolute;
    right: 0;
    top: 195px;
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.active-quizes h2{
    font-family: "inter";
    font-size: 24px;
    color: white;
}
.quizes {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
    width: 1400px;
}
.quiz {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 275px;
    border-radius: 20px;
    background-color: #3e3e3e;
    gap: 5px;
    box-shadow: 0px 0px 15px black;
    overflow: hidden;
}
.quiz img {
    width: 100%;
    height: 120px;
}
.quiz h3 {
    font-family: "inter";
    font-size: 20px;
    color: white;
    text-align: center;
}
.quiz p {
    font-family: "inter";
    font-size: 16px;
    color: white;
    text-align: center;
    opacity: 0.8;
}