{% extends 'base_admin.html' %}

{% block title %}
    Reports page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('reports_app.static', filename= 'css/reports.css') }}">
{% endblock %}

{% block content %}
    <h2>Звіти</h2>
    <div class="report">
        <p class="report-cover"><img src="{{ url_for('reports_app.static', filename= 'images/test-cover.png') }}"></p>
        <div class="report-icon"></div>
        <div class="column" style="padding: 20px;">
            <p class="report-title">Вікторина n1 <span class="passed-people">пройшло: 12 людей</span> <span class="author">Автор: illya_shramko</span></p>
            <div class="center">
                <p class="accuracy">Точність</p>
                <div class="accuracy-range">
                    <div></div>
                </div>
                <p class="accuracy">40%</p>
            </div>
            <div class="center">
                <img src="{{ url_for('reports_app.static', filename= 'images/time.svg') }}">
                <p class="average-answer-time">Ср. час питання: 40c.</p>
                <div class="correct-answers answers">10 <img src="{{ url_for('reports_app.static', filename= 'images/tick.svg') }}"></div>
                <div class="wrong-answers answers">2 <img src="{{ url_for('reports_app.static', filename= 'images/cross.svg') }}"></div>
            </div>
        </div>
        <div class="right"  style="padding: 20px;">
            <button class="view-report-btn"><p>Переглянути</p></button>
            <button class="delete-report-btn"><img src="{{ url_for('reports_app.static', filename= 'images/bin.svg') }}"></button>
        </div>
    </div>
{% endblock %}