<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Code</title>
    <link rel="stylesheet" href="{{ url_for('execution_app.static', filename='css/execution.css') }}">
</head>

<body>
    <header>
        <a href="/"><img src="{{ url_for('execution_app.static', filename='images/atom.svg') }}" style="width: 46px;"></a>
    </header>
    
    <main>

        <form action="/execution/<enter_code>" method="post" class = 'form_enter'>
            <p>GPTQuiz</p>
            <div class = 'input_code'>
                <input type="text" name="input-nickname" placeholder="Введіть нікнейм">
                <button class="button_code" type="submit"><span class = 'button_span'>ДАЛІ</span>→</button> 

            </div> 


        </form>


    </main>

        

</body>
</html>
