* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: #2b2b2b;
    
    
    
}

header {
    display: flex;
    align-items: center;

    background-color: transparent;
    border-bottom: 1px solid #202020;

    width: 100vw;
    height: 54px;
    padding: 0px 10px;

    gap: 10px;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #454545;

    width: 38px;
    height: 38px;

    border: 1px solid white;
    border-radius: 5px;
}

header a img {
    width: 24px;
    height: 24px;
}

header p {
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 24px;
}

.main-creation {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    padding: 40px 80px;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #383838;
    color: white;
    border-radius: 10px;

    max-width: 310px;
    height: 100vw;
    max-height: 46vw;
    padding: 15px 20px;
    gap: 10px;
}

.sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.slides {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.AI-button {
    color: #B26FFF;
}



.slide {
    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.slide img {
    width: 17px;
    height: 17px;
}

main{
    position: fixed;
    width: 100vw;
    height: 100vw;
    display: flex;
    
    align-items: flex-start;
}

.main-create-block{
    position: relative;
    width: calc(100% - 400px);
    max-height: 60%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    gap: 15px;
    

    margin-right: 40px;
    margin-top: 40px;
    background-color: #383838;
    border-radius: 10px;
}

.main-create-block h1{
    font-size: 22px;
    color: white;
}

.create-block{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 20px 15px;
    gap: 10px;
    

    background-color: #2C2C2C;
    
    
}





.input-question{
    width: 100%;
    height: 100%;
    border: solid white 1px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
   
    font-size: clamp(10px, 1vw, 60px);
    color: white;
    background-color: #2C2C2C;
    resize: none;

}


.answers-block{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 0.4vw, 20px);


}
.answers-block div{
    width: 100%;
    height: 100%;
    

}


.answers-block textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: clamp(10px, 0.9vw, 60px);
    color: white;
    border-radius: 5px;
    resize: none;
   
}
.answers-block textarea::placeholder{
    color: white;
    font-weight: 400;
    opacity: 0.7;
    
}
.block1{
    background-color: #2C70AD ;
  


}

.block2{
    background-color: #EEA928 ;

}

.block3{
    background-color: #22CE00 ;

}

.block4{
    background-color: #D4546D ;

}









form {
    display: flex;
    align-items: center;
    justify-content: right;

    width: 100%;
}

form button {
    font-size: clamp(10px, 0.9vw, 30px);
    font-weight: bold;

    color: white;
    background-color: #199700;

    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
}