* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: #2b2b2b;
    
    
    
}

header {
    display: flex;
    align-items: center;

    background-color: transparent;
    border-bottom: 1px solid #202020;

    width: 100vw;
    height: 54px;
    padding: 0px 10px;

    gap: 10px;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #454545;

    width: 38px;
    height: 38px;

    border: 1px solid white;
    border-radius: 5px;
}

header a img {
    width: 24px;
    height: 24px;
}

header p {
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: start;
    gap: 16px;
    padding: 20px;
}

.main-creation {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    padding: 40px 80px;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #383838;
    color: white;
    border-radius: 10px;
    width: 20%;
    height: 100vw;
    max-height: 46vw;
    padding: clamp(15px, 2.1vw, 100px);
    gap: 10px;
}

.sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.slides {
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.AI-button {
    color: #B26FFF;
}
.slide {
    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.slide img {
    width: 17px;
    height: 17px;
}

main{
    position: fixed;
    width: 100vw;
    height: 100vw;
    display: flex;
    
    align-items: flex-start;
}

.main-create-block{
    position: relative;
    max-height: 60%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    gap: 15px;
    
    background-color: #383838;
    border-radius: 10px;
}

.main-create-block h1{
    font-size: 22px;
    color: white;
}

.create-block{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 20px 15px;
    gap: 10px;
    

    background-color: #2C2C2C;
    
    
}





.input-question{
    width: 100%;
    height: 100%;
    border: solid white 1px;
    border-radius: 5px;
    text-align: center;
    align-content: center;

    font-size: clamp(10px, 1vw, 60px);
    color: white;
    background-color: #2C2C2C;
    resize: none;

}


.answers-block{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 0.4vw, 20px);


}
.answers-block div{
    width: 100%;
    height: 100%;
    

}


.answers-block textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    align-content: center;
    font-size: clamp(10px, 0.9vw, 60px);
    color: white;
    border-radius: 5px;
    resize: none;
   
}
.answers-block textarea::placeholder{
    color: white;
    font-weight: 400;
    opacity: 0.7;
    
}
.block1{
    background-color: #2C70AD ;
  


}

.block2{
    background-color: #EEA928 ;

}

.block3{
    background-color: #22CE00 ;

}

.block4{
    background-color: #D4546D ;

}
form {
    display: flex;
    align-items: center;
    justify-content: right;

    width: 100%;
}

.button-save {
    font-size: clamp(10px, 0.9vw, 30px);
    font-weight: bold;

    color: white;
    background-color: #199700;

    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.create-question {
    position: relative;
    width: 80%;
    max-height: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    
    padding: 30px 20px 30px 20px;
    gap: 15px;
    background-color: #383838;
    border-radius: 10px;
}

.welcome-create-text{
    color: white;
    font-size: clamp(10px, 1vw, 60px);
    font-weight: 500;
   
}

.search-line{
    width: 100%;
    height: 35px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-line img{
    width: 25px;
    height: 25px;
}

.search-line input{
    width: 98%;
    height: 100%;
    border: none;
    font-size: 16px;
}


.search-line button{
    border: none;
    background: none;
    cursor: pointer;
}

.choose-question{
    color: white;
    font-size: clamp(20px, 1.1vw, 60px);
    font-weight: 600;
}


.type-questions{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    color: white;
}

.type-request{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 10px;
    width: 340px;
    height: 45px;
    font-weight: 300;
    border: none;
    cursor: pointer;
    background: none;
}

.type-request img{
    height: 100%;
    background-color: #9C47FF;
    padding: 4px;
    border-radius: 5px;

}


.enter-answer-div{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.all-block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: #2C2C2C;
    
}

.enter-answer-input{
    width: 80%;
    height: 30%;
    border: solid rgba(#868686 .5) 1px;
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 2px;
    color: white;
    text-align: center;
    font-size: clamp(4px, 1.1vw, 60px);
    background-color: #1D1D1D;
}


.div-button-save{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

textarea:focus, input:focus{
  transition: all 0.2s ease-in-out;
  outline:solid #B26FFF 1px ;
}

.button-save {
    font-size: clamp(1px, 1.2vw, 100px);
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #199700;
    border: 1px solid black;
    border-radius: 5px;
}

.button-save:disabled {
    color: #656565;
    background-color: #545454; 
    cursor: not-allowed

}

.answers-block label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #6D6D6D;
    border: black 1px solid;
    border-radius: 45px;
    padding: 3px;
    z-index: 5;
}
.answers-block label img {
    width: 100%;
    height: 100%;
}
.answers-block input[type='radio'] {
    /* display: none; */
}
.focus {
    background-color: #22CE00;
}