.created-by-me-create{
    position: relative;
    top: 45px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1050px;
}
.created-by-me-create h2{
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 24px;
}
.created-by-me-create button {
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22CE00;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;

    
}

.created-by-me{
    width: 100%;
    position: relative;
    top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
}

form{
    height: 47px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    overflow: hidden;
    gap: 5px;
}

form img{
    width: 25px;
    height: 25px;
}

form input{
    height: 100%;
    width: 475px;
    border: none;
    background: none;
    font-family: "Inter";
    font-size: 16px;

}

form button{
    height: 100%;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.created-by-me p{
    font-family: "Inter";
    font-size: 18px;
    color: white;

}

span{
    color: #B26FFF;
}
