.passed-by-me{
    width: 1270px;
    height: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.passed-by-me h2{
    font-family: "Inter";
    font-size: 16px;
    color:  white;
}
.passed-quizes-by-me{
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    gap: 1vw;
    
}
.quiz{
    width: 80%;
    height: 135px;
    background-color: #262626;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.quiz-image{
    height: 135px;
    width: 20%;
}
.info{
    width: 60%;
    font-family: "Inter";
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 15px;
    
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    gap: 0.5vw;
}

#view{   
    background-color: #22CE00;
    border: none;
    border-radius: 45px;
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}
#delete{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #464C66;
    border: none;
    border-radius: 45px;
    padding: 10px;
}

#delete img{
    width: 20px;
    height: 20px;
}