{% extends 'base.html' %}

{% block title %}
    Реєстрація
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('user_app.static', filename= 'css/signup.css') }}">
{% endblock %}

{% block content %}
    <form method="post">
        <h2>Реєстрація</h2>
        <div class="inputs">
            <input type="text" name="login" class="login" autocomplete="off" placeholder="Логін *" required>
            <input type="text" name="name" class="name" autocomplete="off" placeholder="Ваше ім`я *" required>
            <input type="text" name="surname" class="surname" autocomplete="off" placeholder="Ваше прізвище *" required>
            <input type="email" name="email" class="email" autocomplete="off" placeholder="Ваша електронна адреса *" required>
            <input type="password" name="password" class="password" autocomplete="off" placeholder="Пароль *" required>
        </div>
        <div class="submit">
            <button type="submit">Зареєструватися</button>
            <p>Вже маєте акаунт? <a href="/login/">Увійти</a></p>
        </div>
    </form>
{% endblock %}