<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Quiz</title>
        <link rel="stylesheet" href="{{url_for('library_app.static',filename= 'css/create_quiz.css')}}">
    </head>
    <body>
        <header>
            <a href="/library/"><img src="{{url_for('library_app.static',filename= 'images/arrow.svg')}}"></a>
            <p>Створення нової вікторини</p>
        </header>
        <div class="main-creation">
            <div class="sidebar">
                <p>Почати з ...</p>
                <div class="slides">
                    <div class="slide">
                        <img src="{{url_for('library_app.static', filename= 'images/ai.svg')}}" alt="">
                        <h3 class="AI-button">Згенерувати за допомогою AI</h3>
                    </div>
                    <div class="slide">
                        <img src="{{url_for('library_app.static', filename= 'images/plus.svg')}}" alt="">
                        <h3>Створити з нуля</h3>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            <button type="submit">Створити та зберегти</button>
        </form>
        <h1>{{ quiz.name }}</h1>
        <h2>{{ quiz.description }}</h2>
        
        <p>{{ quiz.count_questions }}</p>
        
        {% for question in questions %}
            <p>{{ question.name }}</p>
        {% endfor %}
    </body>
</html>