<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Quiz</title>
        <link rel="stylesheet" href="{{url_for('library_app.static',filename= 'css/enter_answer.css')}}">
    </head>
    <body>
        <header>
            <a href="/library/"><img src="{{url_for('library_app.static',filename= 'images/arrow.svg')}}"></a>
            <p>Створення нової вікторини</p>
        </header>

       


        <main>
            <div class="sidebar">
                <p>Почати з ...</p>
                <div class="slides">
                     <div class="slide">
                        <img src="{{url_for('library_app.static', filename= 'images/ai.svg')}}" alt="">
                        <h3 class="AI-button">Згенерувати за допомогою AI</h3>
                    </div>
                    <div class="slide">
                        <img src="{{url_for('library_app.static', filename= 'images/plus.svg')}}" alt="">
                        <h3>Створити з нуля</h3>
                    </div>
                </div>
            </div>
        </div>

            
              

                <form action ='' method="post" class = 'main-create-block'>

                        <h1>Створення запитання з заповненням бланка</h1>

                        <div class="all-block">

                            <div class="create-block">
                               <textarea name = 'question' class = 'input-question' placeholder="Введіть запитання..."></textarea>
  
                            </div>

                            <div class="enter-answer-div">
                                
                                <input type="text" class="enter-answer-input"  id = 'enterAnswer'  placeholder="введіть відповідь" id="">

                            </div>

                        </div>

                       



                        <input type="hidden" value="enter_answer"  name = 'type_question'>
                        <div class="div-button-save">
                            <button name="button" class = 'button-save' id = 'buttonAnswer' type="submit"  disabled>Створити та зберегти</button>
                        
                        </div>
                        


                </form>
        

        </main>

        <script src="{{ url_for('library_app.static',filename= 'js/enterAnswer.js') }}"></script>

        
    </body>
</html>